div{
width: 500px;
height: 500px;
margin: 200px auto;
border-radius: 50%;
cursor: pointer;
background-color: black;
animation: animation 10s infinite linear;
}

div:hover{
    background-color: blue;
}